@{
    ViewBag.Title = RielAp.Translation.Translation.LicensePageTitle;
    ViewBag.CurrentPage = NavigationPage.None;
}

<h2>@ViewBag.Title</h2>
<p>
    <strong>Користуючись даним сайтом ви погоджуєтесь з наступними правилами і положеннями:</strong>
</p>

<p>
Сайт aparts.in.ua (надалі «Сайт») та інформація, що розміщена на ньому, є об'єктом його права власності. 
Передрук і/або інше поширення матеріалів сайту можливе лише після отримання письмового дозволу від Адміністрації Сайту. 
Забороняється будь-яке використання цих матеріалів на інших сайтах або в комп'ютерних мережах.
    </p>
<p>
Адміністрація Сайту дозволяє переглядати і демонструвати матеріали Сайту виключно в особистих некомерційних цілях.
    </p>
    <p>
Реєстрація на сайті
Реєструючись на сайті aparts.in.ua та на його супутніх Сервісах, Ви даєте свою згоду на збереження і обробку персональних даних, що здійснюються з метою надання послуг з розміщення та публікації рекламних та інших відомостей, в т.ч. оголошень, на сайті aparts.in.ua. 
Компанія залишає за собою право використовувати цю інформацію в маркетингових цілях. 
        </p>
<p>
Відповідальність за безпеку отриманих в процесі реєстрації унікальних логіна(номера мобільного телефону) і пароля несе користувач. 
Редакція ніколи не вимагатиме надіслати або іншим чином передати логін і/або пароль або інші особисті дані користувача.
Будь-яка подібна вимога є актом шахрайства зі сторони третіх осіб – будьте пильними!
    </p>
    <p>
Відмова від відповідальності
Матеріали і послуги Сайту надаються «як є», без будь-яких гарантій. 
Дані на сайті aparts.in.ua не є гарантом достовірності, вичерпності або повноти матеріалів,  може не розділяти точки зору рекламодавців, подавачів оголошень, авторів статей та інших користувачів Сайту та його супутніх сервісів.
        </p>
<p>
Користувач (в т.ч. подавач оголошення або інший дописувач) несе повну, в тому числі і матеріальну відповідальність за зміст розміщеного ним оголошення\допису як перед Сайтом, так і перед третіми особами у разі порушення правил і положень сервісу, законодавства України, авторських і господарських прав, прав на торговельні марки, а також у разі нанесення збитків, занепокоєння або незручностей третім особам.
    </p>
    <p>
Редакція у будь-який час без попередження може вносити зміни в матеріали і послуги, інформація щодо яких викладена на цьому Сайті.
Редакція за жодних обставин не несе відповідальності за будь-які збитки (включаючи, але не обмежуючись збитком від втрати прибутку або від переривання ділової активності), що виникли внаслідок використання, неможливості використання або результатів використання Сайту або його супутніх сервісів.
        </p>
<p>
Зміна положень і правил
Положення і правила сайту aparts.in.ua  можуть змінюватися або доповнюватися у будь який час і набирають чинності з моменту публікації на сайті.
</p>