<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="RealtyDBContext" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ApartmentsDatabase;Integrated Security=SSPI;MultipleActiveResultSets=True"/>-->
  <add name="RealtyDBContext" providerName="System.Data.SqlClient" connectionString="Data Source=184.168.194.58;Integrated Security=False;User ID=ApartmentsTaras;Connect Timeout=15;Encrypt=False;Packet Size=4096;Initial Catalog=ApartmentsTaras;Password='Taras1990!';" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>